name: CI/CD

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master
    types:
      - labeled
      - review_requested
      - review_request_removed
      - opened
      - edited
      - synchronize
      - ready_for_review
      - closed

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Docker image
        run: |
          docker build -t playwright-test .

      - name: Check PR approval status
        id: pr_approval_check
        run: |
          echo "Checking PR approval status..."

          # Verificar si el PR tiene al menos una revisi贸n aprobada usando la API de GitHub
          approval_status=$(curl -s \
            -H "Authorization: Bearer $TOKEN_GH" \
            "https://api.github.com/repos/$GITHUB_REPOSITORY/pulls/${{ github.event.pull_request.number }}/reviews")

          # Mostrar el resultado para depuraci贸n
          echo "Approval status: $approval_status"

          # Si encontramos una revisi贸n con estado "APPROVED", asignamos "approved=true"
          if echo "$approval_status" | jq '.[] | select(.state == "APPROVED")' > /dev/null; then
            echo "PR is approved"
            echo "approved=true" >> $GITHUB_ENV  # Guardar en variable de entorno
          else
            echo "PR is not approved"
            echo "approved=false" >> $GITHUB_ENV  # Guardar en variable de entorno
          fi

      - name: Display approved status
        run: echo "The approval status is:$approved"  # Acceder a la variable de entorno directamente

      - name: Run tests in Docker
        if: env.approved == 'true'  # Condici贸n para ejecutar las pruebas si la variable de entorno 'approved' es true
        run: |
          echo "Running tests in Docker because PR is approved."
          docker run --rm playwright-test
